.article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-box {
  width: 200px;
  height: 200px;
  background: pink;
  text-align: center;
  line-height: 200px;
  border-radius: 20px;
  margin: 10px;
}

.flex-box a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  text-align: center;
}
/* nav bar */ /* nav bar */ /* nav bar */ /* nav bar */
.navbar a {
  text-decoration: none;
  font-size: 25px;
  text-align: center;
}

.navbar {
  background: #e6dfdc;
  padding-right: 15px;
  padding-left: 15px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 35px;
  font-weight: 600;
  color: white;
}

li {
  list-style: none;
  display: inline;
}

/* produktliste */
.article img {
  width: 200px;
  justify-content: space-between;
  margin-top: 20px;
  margin: 10px;
  z-index: 1;
}

.price {
  font-size: 20px;
  margin-top: 300px;
  margin-left: -150px;
}
.sale {
  margin-left: 75px;
  color: red;
}
.prices {
  font-size: 20px;
  margin-top: 300px;
  margin-left: -150px;
  text-decoration: line-through;
}

.article h1 {
  font-size: 20px;
  margin-top: 260px;
  margin-left: -200px;
  z-index: 2;
}
.udsolgt {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  background-color: white;
  font-size: 15px;
  z-index: 3;
  color: red;
  position: absolute;
  top: 30%;
  left: 62%;
  transform: translate(-50%, -50%);
}

/* produkt */
.article1 img {
  width: 450px;
  border: 2px;
  margin-top: 20px;
}
.price1 {
  font-size: 20px;
}

@media (min-width: 600px) {
  /* produktliste */
  .article img {
    width: 200%;
    border: 2px;
    justify-content: space-between;
    margin-top: 20px;
  }

  .price {
    font-size: 20px;
  }
  .prices {
    font-size: 20px;
    text-decoration: line-through;
    margin-top: 500px;
  }
  .article h1 {
    font-size: 20px;
    margin-top: 445px;
    margin-left: -145px;
    z-index: 2;
  }

  /* produkt */
  .article1 img {
    width: 450px;
    border: 2px;
    margin-top: 20px;
    margin: 20px;
    margin-left: 200px;
    z-index: 1;
  }
  .price1 {
    font-size: 20px;
    margin-top: -200px;
  }

  .article h1 {
    margin-top: 200px;
    z-index: 2;
  }

  .udsolgt {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    background-color: white;
    font-size: 15px;
    z-index: 3;
    color: red;
    position: absolute;
    top: 40%;
    left: 38%;
    transform: translate(-50%, -50%);
  }
}
